.cntMaps{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height: 45em;
    //background-color:#839788;

    .boxMaps{
        display:flex;
        flex-direction:column;
        align-items:center;
        width:40em;
        height:33em;
        border:0.5px solid black;
        
        }
    
    .headerMps{
        height:4em;
        text-align:center;
    }

    .mainMps{
        height:20em;
        width:40em;
        border:0.5px solid black;

        .leaflet-container {
            width: 53.1em;
            height: 26.5em;
        }

    }

    .footerMps{
        height:4em;
        text-align:center;

    }
    
}